# MyASS-specific config file.
# Read by /etc/mysql/my.cnf

[mysqld]
back_log = 5
max_connections = 50
table_open_cache = 2048
default-storage-engine = INNODB
long_query_time = 10

### Query cache
thread_cache_size = 8
query_cache_size = 256M
query_cache_limit = 2M

### BTRFS ###
innodb_doublewrite = false
innodb_use_native_aio = false
innodb_flush_method = fsync

### InnoDB params
innodb_file_per_table = 1
innodb_buffer_pool_size = 2G
innodb_buffer_pool_instances = 2
innodb_log_buffer_size = 256M
innodb_log_file_size = 512M
innodb_open_files = 4000
innodb_data_file_path = ibdata1:10M:autoextend
innodb_flush_log_at_trx_commit = 0
innodb_write_io_threads = 16
innodb_read_io_threads = 8
innodb_thread_concurrency = 16
innodb_fast_shutdown = 0

### SSD tunning
innodb_flush_neighbors = 0
innodb_io_capacity = 4000

### Enable performance logging ###
performance_schema = on

### Prevent connection reset while importing big SQL files ###
max_allowed_packet = 16M
net_read_timeout = 900
net_write_timeout = 900
wait_timeout = 28800
